doctype html
html(lang="en")
  head
    title The Hoick Habit Server | #{title}
    
    link(href="/assets/css/main.css", rel="stylesheet", type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Carter+One|Noto+Serif|Dekko', rel='stylesheet', type='text/css')
  body
    .container
      .wrapper
        nav
          ul
            li
              a(href='/') Home
            li
              a(href='/habits') API
        hr.nav
        br
        
        block content
